#myDiv{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    overflow: auto;
}

#topBtn{
    font-size: 45px;
    position: fixed;
    bottom: 2%;
    right: 5%;
    display: none;
}

section{
    height: 2000px;
}

